* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;

   @include response(mdBreakPoint) {
      font-size: 56.25%;
   }
}

body {
   background-color: rgb(255, 255, 255);
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

img {
   max-width: 100%;
}

/*missing alt attribute*/
img:not([alt]) {
   outline: 5px dashed red;
   outline-offset: 5px;
}

/*empty alt attribute*/
img[alt=""] {
   outline: 5px solid blue;
   outline-offset: 15px;
}
